<div #container class="note-card-container">
  <div class="note-card-content">
    <h1 class="note-card-title">Note Card Title</h1>
    <div class="note-card-body">
      <p>
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
        vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla
        sed consectetur. Duis mollis, est non commodo luctus, nisi erat
        porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget
        risus varius blandit sit amet non magna. Maecenas sed diam eget risus
        varius blandit sit amet non magna. Cras mattis consectetur purus sit
        amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at
        eros. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac
        facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur
        purus sit amet fermentum. Maecenas sed diam eget risus varius blandit
        sit amet non magna.
      </p>
      <div class="fade-out-truncation"></div>
    </div>
  </div>

  <div class="x-button">
    <i class="fas fa-times"></i>
  </div>
</div>
